.div-a {
    background: seagreen;
    border: solid red 3px;
    /* Ширина и высота */
    width: 100%;          /* На всю ширину родителя */
    max-width: 1200px;    /* Максимальная ширина */
    height: auto;         /* Автовысота по содержимому */
    min-height: 100px;    /* Минимальная высота */

    /* Внутренние отступы (padding) */
    padding: 20px;                 /* Со всех сторон */


    /* Внешние отступы (margin) */
    margin: 10px;                  /* Со всех сторон */

}
